.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #222;
}

.description {
  color: #6c757d;
}

/* #6c757d; */

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #222;
  color: #f0f0f0;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: #f0f0f0;
  margin: 10px;
}

.framed {
  box-shadow: -50px -50px 0 -40px white, 50px 50px 0 -40px #6c757d;
  height: 55%;
}

.about .prompt {
  width: 40%;
  font-size: 30px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 35px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  color: #222;
  height: 20vh;
  display: flex;
  align-items: center;
  font-size: 65px;
}

.skills .list {
  list-style: none;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list span {
  font-size: 20px;
  color: #6c757d;
}

.list {
  padding: 0px;
  margin-bottom: 0;
}

.item {
  margin-bottom: 50px;
}

.list h2 {
  font-size: 40px;
}

@media only screen and (max-width: 700px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }

  .skills h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .about h2 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 1150px) {
  .framed {
    width: 300px;
  }
}

@media only screen and (max-width: 377px) {
  .framed {
    width: 200px;
    height: 40%;
  }
  .about h2 {
    font-size: 40px;
  }
}

/* @media only screen and (max-width: 850px) {
  .framed {
    width: 50%;
  }
} */

/* @media only screen and (max-width: 850px) {
  .framed {
    width: 250px;
  }
} */

.contact {
  font-size: 35px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #222;
}

.contactTitle {
  color: white;
  height: 20vh;
  display: flex;
  align-items: center;
  font-size: 65px;
}

.form-control:focus {
  border-color: #000000;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.col-form-label {
  font-size: 20px;
  float: left;
}

.mail {
  filter: invert(47%) sepia(6%) saturate(614%) hue-rotate(167deg)
    brightness(95%) contrast(89%);
}

@media only screen and (max-width: 767px) {
  .contactTitle {
    font-size: 45px;
  }
  .mail {
    width: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .maxWidth {
    max-width: 30%;
  }
}

@media only screen and (max-width: 400px) {
  .skills h1 {
    font-size: 50px;
  }

  .skills span {
    font-size: 15px;
  }
}
